* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(51, 119, 245);
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

main {
    max-width: 840px;
    background-color: white;
    padding: 15px;
    grid-column: 2;
}

main img {
    width: 150px;
    height: auto;
    border: 1rem;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;

}

h1 {

    color: rgb(19, 1, 1);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #f4f4f4;
    padding: 1rem;
    grid-column: 1;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: start;
    gap: 20px;

}

main ul {
    background-color: #a8a6a6;

}

main ul a {
    text-decoration: none;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}